/* Reseteo básico de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container_principal {
    height: 100vh;
    /*width: 2000px;
    height: 650px;*/
    font-family: Arial, sans-serif;
}

/* Estilos del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

.cursor {
    cursor: pointer;
}

/* Estilos para el encabezado */
header {
    background-image: url("../imagenes/newbanner.png");    
    background-position: center;
    background-size: cover;
    /* altura total */
    height: 10vh;
    /* profundidad */       
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.678);
    color: white; /* Texto blanco */
    text-align: center;
    padding: 20px 0; /* Espaciado arriba y abajo */
    font-family: Arial, sans-serif;
    font-size: 20px; /* Tamaño de fuente */
    text-shadow: 2px 2px 4px #8a8686; /* Sombra del texto */
    width: 100%;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #3B3C3E; /* Fondo oscuro para el menú */
    color: white;
    padding: 5px 0; /* Espaciado arriba y abajo */
}

nav h3 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    text-align: center; /* Centra los elementos de la lista */
}

nav ul li {
    display: inline; /* Hace que los elementos de la lista estén en línea */
    margin: 0 20px; /* Espaciado entre los elementos */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #575757; /* Cambio de color al pasar el mouse */
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3B3C3E; ; /* Fondo oscuro */
    color: white;
    margin-top: 0px; /* Espaciado hacia abajo */
}

footer h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

/* Centering the buttons and ensuring spacing */
.botones {
    width: 150px;
    height: 35px; /* Increased height for better readability */
    border: 3px solid #fffafa;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    transition: all linear 0.2s;
    border-radius: 24px;
    text-align: center;
    display: inline-block; /* Ensures buttons align properly */
} 
/* Additional styles for two different button variations */
.botones-container {
    display: flex;
    justify-content: center;
    gap: 2mm; /* Ensures a small gap between buttons */
    margin-top: 20px; /* Adds spacing between buttons and other elements */
}

.botones:hover {
    width: 150px;
    height: 25px;
    background-color: #615d5d;
    color: #a4a3a2;
    text-decoration: none;
    font-size: 20px;
    transition: all linear 0.2s;
    border-radius: 24px;
    text-align: center;
    padding: 6px 25px;
    text-shadow: 0px 1px 0px #ffffff;
    display: inline-block; /* Ensures buttons align properly */
}
.fixed-button {
    position: fixed;
    top: 30px; /* Ajusta la posición vertical según sea necesario */
    left: 30px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 1000; /* Asegura que el botón esté por encima del video */
}

.fixed-text {
    position: relative;
    top: 50px; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegura que el texto esté por encima del video */
    color: #fff;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #696868;
}
.boton3 {
    background-color: #a29b9b;
    color: #71706e;
    border-color: #ffffff;
}